* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7ff;
}

.no-user-container {
  width: 100vw;
  height: 100vh;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__container {
  margin-top: 3rem;
}

.welcome-card {
  width: 90%;
  max-width: 500px;
  height: 180px;
}

.welcome-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-card .card-title {
  margin-bottom: 2rem;
}

.welcome-links-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-links-grid a:nth-child(1) {
  margin-right: 1rem;
}

/* === Table Styles === */

.list__container {
  margin-top: 3rem;
  width: 80%;
}

.list__container h3 {
  font-size: 28px;
  margin-top: 1rem;
}

.table__container table {
  /* margin-top: 2rem; */
  border-radius: 0.25rem !important;
}

.table__container table thead tr th {
  font-weight: 500;
}

@media (max-width: 978px) {
  .table__container {
    overflow-x: scroll;
  }
}

@media (max-width: 576px) {
  .list__container,
  .welcome__container {
    width: 90%;
  }
  .list__container {
    margin-top: 2rem;
  }
  .welcome__container {
    margin-top: 2rem;
  }
  .welcome-card .card-title {
    margin-bottom: 1.5rem;
  }
  .welcome-links-grid a {
    font-size: 14px;
  }
}

/* Status */

.badge-success {
  background-color: #c7f5d9;
  color: #0b4121;
}

.badge-primary {
  background-color: #cfe0fc;
  color: #0a47a9;
}

.badge-warning {
  background-color: #ffebc2;
  color: #453008;
}
