* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7ff;
}

.login__form {
  width: 75%;
  margin: 4rem auto;
}

@media screen and (max-width: 576px) {
  .login__form {
    width: 85%;
    margin: 2.5rem auto;
  }
}
