* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7ff;
}

.register__form {
  width: 75%;
  margin: 4rem auto;
}

#form-info-element {
  display: flex;
  align-items: center;
  visibility: hidden;
  margin-top: 0.3rem;
  color: #d93025;
}

#form-info-element span {
  display: block;
  margin-left: 0.8rem;
}

@media screen and (max-width: 768px) {
  .col-responsive {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .register__form {
    width: 85%;
    margin: 2.5rem auto;
  }
}
